<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">Capstone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pre-NavBar Files
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/old/UdemySite.html">Link to HTML Udemy</a></li>
                <li><a class="dropdown-item" href="/old/Assesment1.html">Link to First Udemy Assesment</a></li>
                <li><a class="dropdown-item" href="/old/Assesment2.html">Link to Second Udemy Assesment</a></li>
                <li><a class="dropdown-item" href="/old/2.03HTMLFinalAssesment.html">Link to my 2.03 Final HTML Assesment</a></li>
                <li><a class="dropdown-item" href="/old/CSS-Bootstrap-Udemy.html">Link to CSS Udemy</a></li>
                <li><a class="dropdown-item" href="/old/Udemy_CSS_Assesment.html">Link to CSS Udemy Assesment#1</a></li>
                <li><a class="dropdown-item" href="/old/bootstrapButtons.html">Link to Bootstrap Button Udemy</a></li>
                <li><a class="dropdown-item" href="/old/UdemyBootstrapFomrs.html">Link to Bootstrap Forms Udemy</a></li>
                <li><a class="dropdown-item" href="/old/UdemyBootstrapNavbar.html">Link to Bootstrap Navbar Udemy</a></li>
                <li><a class="dropdown-item" href="/old/Bootstrap_Project_Main.html">Link to Bootstrap Udemy Assesment</a></li>
                <li><a class="dropdown-item" href="/old/BootstrapFinalAssesment205.html">Link to 2.05 Final Bootstrap Assesment</a></li>
                <li><a class="dropdown-item" href="/old/Bootstrap_Project_Signup.html">Link to Bootstrap Project Signup</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Post-NavBar Files
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="NewNavbar.html">Link to Navbar File</a></li>
                </ul>
                </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Milestone Project First Draft
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="InformationalPage.html">Informational Page</a></li>
                    <li><a class="dropdown-item" href="InteractivePage.html">Interactive Page</a></li>
                    <li><a class="dropdown-item" href="ResultsPage.html">Results Page</a></li>
                </ul>
                </li>
        </ul>
    </div>
</div>
</nav>

